.header-image img{
    margin-left: 32%;
}
.about{
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    /* border: 1px solid black; */
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
form input,textarea{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
input[type="number"]{
    width: 40%;
    margin-left: 10px;
    float: right;
}
form input{
    padding: 10px;
}
input[type="submit"]{
    width: 60px;
    border: none;
    background-color: aquamarine;
    margin-left: 50%;
    text-align: center;
    border-radius: 10px;
}